/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600&display=swap');

/* Variable */
/* Style */
* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

html,
body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

/* -----------------------------------
    Style general 
    ----------------------------------*/
section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #85F6B8, #8ED9EB);
}

section>article {
    width: 400px;
    padding: 50px 30px;
    background-color: white;
    display: none;
}
button {
    box-shadow: 0px 4px 4px #dddddd;
    cursor: pointer;
}
button:hover {
    box-shadow: 0px 4px 4px #b6b6b6;
}
/* -----------------------------------
    Style acceuil
    ----------------------------------*/
article#accueil {
    display: none;
}

article#accueil * {
    color: #555555;
}

article#accueil>h2 {
    text-align: center;
}

article#accueil>p {
    margin: 30px 20px;
    text-align: center;
}

article#accueil label {
    display: block;
    margin-bottom: 10px;
}

article#accueil input[type="text"] {
    display: block;
    width: 100%;
    padding: 10px 10px;
    outline: none;
}

article#accueil #identification {
    margin: 40px auto;
}

article#accueil .identifiant {
    margin: 20px auto;
}

article#accueil button {
    display: block;
    margin: 10px auto;
    padding: 10px 30px;
    font-size: large;
    color: white;
    background-color: #028A3D;
    border: 0px;
}

/* -----------------------------------
    Style interro 
    ----------------------------------*/
article#interrogation {
    display: block;
}
article#interrogation * {
    color: #555555;
}
article#interrogation #question {
    display: block;
    text-align: center;
}
article#interrogation #progression {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 80%;
}
article#interrogation #progression > div:first-of-type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

article#interrogation #barre_progression {
    width: 100%;
    height: 7px;
    background-color: #dddddd;
    border-radius: 5px;
}

article#interrogation #barre_progression > span{
    display: block;
    width: 30%;
    height: 7px;
    background-color: #028A3D;
    border-radius: 5px;
}
article#interrogation #answers_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    margin: 40px auto;
}
article#interrogation #answers_section .answer {
    border: 1px solid #dddddd;
    padding: 10px;
}
article#interrogation #answers_section span {
    padding: 0px 10px;
}

article#interrogation #question_btn_control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
article#interrogation #question_btn_control>button {
    display: block;
    width: 150px;
    padding: 10px 30px;
    font-size: large;
    color: white;
    border: 0px;
}
article#interrogation #question_btn_control>button:first-child {
    background-color: #EC880C;
}
article#interrogation #question_btn_control>button:last-child {
    background-color: #028A3D;
}
article#interrogation #question_btn_control>button[disabled] {
    opacity: 0.7;
}

/* -----------------------------------
    Style resultat 
    ----------------------------------*/